<h4>Editing Book</h4>
<%= form_with model:@book, local:true do |f| %>
  <p>Title</p>
  <%= f.text_field :title %>
  <p>Body</p>
  <%= f.text_area :body %>
  <%= f.submit "Update Book" %>
  <%= link_to "Show", book_path %>
  <%= link_to "Back", books_path %>
<% end %>    
