<div class="wrapper">
  <p class="msg"><%= flash[:notice] %></p>
  <div class="show-table">
    <p><b>Title:</b></p>
    <%= @book.title %>
  </div>  
  <div class="show-table">
    <p><b>Body:</b></p>
    <%= @book.body %>
  </div>  
  
  <div class="btn">
    <%= link_to "Edit", edit_book_path(@book) %>
    <p class="between">|</p>
    <%= link_to "Back", books_path %>
  </div>
</div>